@import 'colors.scss';
@import 'mixins.scss';

.key-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.key-btn {
  @include action-btns(100px, $white, $light-blue);
  cursor: pointer;
  border: none;
}

.key-string {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  font-style: italic;

  .copy-icon {
    cursor: pointer;
    padding-left: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
  }

  mat-icon {
    height: 20px;
    width: 20px;
  }
}
